@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
/*Обнуление*/
/*Чтобы очистить все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки у некоторых браузеров*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/* Параметры, которые уравнивают поведения шрифтов и элементов для разных браузеров,
в том числе запрещают самовольное увеличение шрифта на айфонах*/
html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Просим тегов форм наследовать семейство шрифта, потому что эти теги не наследуют*/
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуляем все заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
aside {
  width: 342px;
  z-index: 2;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

aside .logo {
  margin-left: 53px;
}

.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 80px;
  margin-right: 44px;
  padding-left: 42px;
}

.user__info img {
  margin-right: 15px;
}

.info__item {
  width: 100%;
}

.info__name {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(55, 160, 234, 0.4);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.info__name::after {
  content: url("../images/dashboardImages/arrow_down.png");
}

.company__name {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #e5e5e5;
  margin-top: 8px;
}

.menu {
  height: 100%;
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  padding: 15px 0 15px 49px;
}

.menu__item svg {
  width: 20px;
  margin-right: 18px;
}

.menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878787;
}

.menu__item::before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 3px;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(41, 122, 179, 0.3);
          box-shadow: 0px 4px 10px rgba(41, 122, 179, 0.3);
}

.menu__item:hover {
  background: #EFF4FF;
  -webkit-box-shadow: 0px 0px 10px rgba(67, 107, 220, 0.35);
          box-shadow: 0px 0px 10px rgba(67, 107, 220, 0.35);
}

.menu__item:hover::before {
  content: '';
}

.menu__item--active {
  background: -webkit-linear-gradient(358.61deg, #4568DC -2.02%, #00B4DB 118.83%);
  background: -o-linear-gradient(358.61deg, #4568DC -2.02%, #00B4DB 118.83%);
  background: linear-gradient(91.39deg, #4568DC -2.02%, #00B4DB 118.83%);
  -webkit-box-shadow: 0px 4px 10px rgba(41, 122, 179, 0.3);
          box-shadow: 0px 4px 10px rgba(41, 122, 179, 0.3);
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.menu__item--active::before {
  content: '';
}

.menu__item--active svg path {
  fill: #FFFFFF;
}

.menu__item--active a {
  color: #FFFFFF;
}

.menu__logout {
  width: 100%;
  padding-left: 24px;
  padding-right: 42px;
}

.logout__btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #37A0EA;
  color: #FFFFFF;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 16px;
}

.logout__btn svg {
  height: 20px;
  width: 20px;
  margin-right: 17px;
}

.logout__btn span {
  padding-left: 20px;
  border-left: 1px solid #fff;
}

.header {
  margin-bottom: 28px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__breadcrumb {
  padding-left: 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-left: 4px solid #56e86d;
}

.header__breadcrumb li {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
}

.header__icons {
  list-style: none;
}

.icons__item {
  display: inline-block;
  padding: 0 25px;
  border-right: 1px solid #56e86d;
}

.icons__item:last-child {
  border-right: none;
}

.icons__item--notification {
  position: relative;
}

.icons__item--notification::after {
  content: "";
  background-color: #f68383;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: -3px;
  right: 26px;
}

.main {
  max-height: 100%;
  min-height: -webkit-calc(100vh - 90px);
  min-height: calc(100vh - 90px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__dashboard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info {
  max-width: 422px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 4px solid #1976D2;
  margin-bottom: 53px;
}

.main__text {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #575A63;
  margin-bottom: 12px;
}

.main__name {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;
  color: #575A63;
  margin-bottom: 28px;
}

body {
  background-color: #e5e5e5;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  z-index: 1;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 300px;
  background: -webkit-linear-gradient(358.61deg, #4568dc -2.02%, #00b4db 118.83%);
  background: -o-linear-gradient(358.61deg, #4568dc -2.02%, #00b4db 118.83%);
  background: linear-gradient(91.39deg, #4568dc -2.02%, #00b4db 118.83%);
}

.content {
  z-index: 2;
  width: -webkit-calc(100% - 370px);
  width: calc(100% - 370px);
}
