.app {
  @include adaptiv_value("padding-top", 50, 0, 0);
  @include adaptiv_value("padding-bottom", 120, 58, 0);

  &__block {
    @include flex;
    align-items: center;
  }
  &__info {
    max-width: 44%;
    margin-left: 15%;
  }
  &__title {
    @include flex;
    justify-content: center;
    align-items: center;
    @include adaptiv_value("margin-bottom", 54, 20, 1);

    p {
      @include work_font(700);
      color: #4f4f4f;
      @include adaptiv_value("width", 355, 163, 1);
      @include adaptiv_value("font-size", 38, 22, 1);
      @include adaptiv_value("line-height", 45, 33, 1);

      span {
        font-weight: normal;
      }
    }
  }
  &__img {
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    margin-right: 23px;
    @include adaptiv_value("width", 103, 88, 1);
    @include adaptiv_value("height", 103, 88, 1);

    img {
      @include adaptiv_value("width", 58, 45, 1);
      @include adaptiv_value("height", 58, 45, 1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__text {
    @include work_font(400);
    color: #878787;
    @include adaptiv_value("font-size", 20, 15, 1);
    @include adaptiv_value("line-height", 28, 33, 1);
    @include adaptiv_value("margin-bottom", 70, 27, 1);
  }
  &__quotes {
    @include flex;
    justify-content: start;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    @include adaptiv_value("padding-top", 48, 32, 1);
    @include adaptiv_value("padding-bottom", 48, 32, 1);
    img {
      width: 50px;
      height: 50px;
      margin-right: 16px;
    }
    p {
      @include work_font(400);
      font-size: 20px;
      line-height: 33px;
      text-align: justify;
      color: #3c3c3c;
      @include adaptiv_value("font-size", 20, 14, 1);
      @include adaptiv_value("line-height", 33, 23, 1);
    }
  }
  &__phone {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
  }
}

.phone {
  &__back {
    position: relative;
    .logo {
      position: absolute;
      top: 226px;
      left: 90px;
    }
  }
  &__front {
    position: absolute;
    left: 150px;
    top: -20px;
    z-index: 2;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1519.98px) {
  .app {
    padding-top: 50px;
    &__info {
      margin-left: 10%;
      margin: 0 auto;
    }
    &__phone {
      display: none;
    }
  }
}

@media (max-width: 1299.98px) {
  .app {
    &__block {
      flex-flow: column;
    }
    &__info {
      margin: 0;
      width: 100%;
      max-width: unset;
      padding: 0 20px;
    }
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 991.98px) {
  .app {
    padding-top: 30px;
  }
}
