.app {
  // background-color: #f9f8f8;
  &__block {
      padding-top: 50px;
      padding-bottom: 120px;
      display: flex;
  }
  &__info {
      max-width: 44%;
      margin-left: 15%;
  }
  &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 54px;
      div {
          width: 103px;
          height: 103px;
          background: #ffffff;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          position: relative;
          margin-right: 23px;
          img {
              height: 58px;
              width: 58px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
      }
      p {
          width: 355px;
          font-family: "Work Sans", sans-serif;
          font-size: 38px;
          font-weight: bold;
          line-height: 45px;
          color: #4f4f4f;
          span {
              font-weight: normal;
          }
      }
  }
  &__text {
      font-family: "Work Sans", sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #878787;
      margin-bottom: 70px;
  }
  &__quotes {
      width: 750px;
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080;
      padding: 48px 0;
      p {
          padding-left: 140px;
          padding-right: 50px;
          font-family: "Work Sans", sans-serif;
          font-weight: normal;
          font-size: 20px;
          line-height: 33px;
          text-align: justify;
          color: #3c3c3c;
          position: relative;
          &::before {
              content: url("../../images/quotes.png");
              position: absolute;
              top: 0;
              left: 0;
          }
      }
  }
  &__phone {
      width: 100%;
      display: flex;
      flex-flow: row;
      position: relative;
  }
}

.phone {
  &__back {
      position: relative;
      .logo {
          position: absolute;
          top: 226px;
          left: 90px;
      }
  }
  &__front {
      position: absolute;
      left: 150px;
      top: -20px;
      z-index: 2;
  }
  img {
      width: 100%;
      object-fit: contain;
  }
}

@media (max-width: 1519.98px) {
  .app {
      &__info {
          margin-left: 10%;
          margin: 0 auto;

      }
      &__phone {
          display: none;
      }
  }
}

@media (max-width: 1299.98px) {
  .app {
      &__block {
          flex-flow: column;
          padding-top: 100px;
      }
      &__info {
          margin: 0;
          width: 100%;
          max-width: unset;
          padding: 0 20px;
      }
  }
}
