.newsletter {

  &__top {
    background-color: #1c75bc;
    padding-top: 30px;
  }

  &__title {
    @include noto_font(700);
    color: #fff;
    position: relative;
    @include adaptiv_value("font-size", 55, 33, 1);
    @include adaptiv_value("line-height", 90, 53, 1);
    @include adaptiv_value("padding-bottom", 35, 15, 1);
    @include adaptiv_value("margin-bottom", 43, 28, 1);

    &::after {
      content: "";
      width: 75px;
      height: 5px;
      background-color: #fff;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__form {
    @include flex;
    justify-content: space-between;
    align-items: center;
    @include inputNum;
    @include adaptiv_value("padding-bottom", 75, 33, 1);


    input {
      width: 345px;
      padding: 17px 21px;
      border-radius: 5px;
      margin-right: 20px;

      &::placeholder {
        @include work_font(400);
        font-size: 16px;
        color: #878787;
      }
    }

    button {
      background-color: #55a928;
      padding: 14px 79px;
      border-radius: 5px;
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
    }
  }

  &__bottom {
    background-color: #70d9ff;
    @include adaptiv_value("padding-top", 26, 10, 1);
    @include adaptiv_value("padding-bottom", 26, 10, 1);
    p {
      @include work_font(400);
      color: #fff;
      text-align: center;
      @include adaptiv_value("font-size", 16, 12, 1);
      @include adaptiv_value("line-height", 26, 18, 1);
    }
  }
}

@media (max-width: 991.98px) {
  .newsletter {
    &__form {
      flex-flow: column;

      input,
      button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}