.partners {
    @include adaptiv_value("padding-top", 42, 0, 0);
    @include adaptiv_value("padding-bottom", 95, 40, 0);

    &__title {
        @include adaptiv_value("padding-bottom", 35, 12, 1);
        @include adaptiv_value("margin-bottom", 59, 26, 1);
    }
    &__items {
        @include flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 300px;
        width: 100%;
        height: 200px;
        border: 1px solid #3082B9;
        margin: 0 14px;
        position: relative;
        @include flex;
        justify-content: center;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--dura {
            img {
                padding-bottom: 62px;
            }
        }
    }

    &__item:first-child {
        margin-left: 0;
    }
    &__item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 678px) {
    .partners {
        &__item {
            max-width: 220px;
            height: 140px;
        }

        &__item--dura {
            img {
                padding-bottom: 40px;
            }
        }
    }
}

