.products {
  @include adaptiv_value("padding-top", 100, 50, 0);
  @include adaptiv_value("padding-bottom", 100, 50, 0);

  &__title {
    @include adaptiv_value("padding-bottom", 35, 12, 1);
    @include adaptiv_value("margin-bottom", 55, 22, 1);
  }
}

.slider {
  position: relative;
  padding: 0 27px;

  &__item {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    @include adaptiv_value("padding-top", 44, 0, 1);
    @include adaptiv_value("padding-bottom", 44, 0, 1);
  }

  &__img {
    margin: 0 auto;
    @include adaptiv_value("margin-bottom", 60, 30, 1);
    img {
      width: 100%;
      object-fit: contain;
      @include adaptiv_value("height", 140, 100, 1);
    }
  }
  &__title {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #4f4f4f;
    text-align: center;
    @include adaptiv_value("margin-bottom", 29, 14, 1);
  }
  &__text {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    line-height: 28px;
    text-align: center;
    color: #878787;
    flex: 1 1 auto;
    @include adaptiv_value("font-size", 20, 15, 1);
    @include adaptiv_value("margin-bottom", 24, 15, 1);
    @include adaptiv_value("padding-left", 5, 30, 1);
    @include adaptiv_value("padding-right", 5, 30, 1);
  }
  &__link {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    line-height: 31px;
    text-align: justify;
    color: #54b4ce;
    @include adaptiv_value("font-size", 22, 20, 1);
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 40px;
    margin-top: -20px;
    @include adaptiv_value("width", 22, 15, 1);
  }
  .slick-arrow.slick-prev {
    background: url("../images/arrow_left.png") 0 0 / 100% no-repeat;
    @include adaptiv_value("left", 0, 30, 1);
  }
  .slick-arrow.slick-next {
    background: url("../images/arrow_right.png") 0 0 / 100% no-repeat;
    @include adaptiv_value("right", 0, 30, 1);
  }
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}
