.expertise {
  background: url("../../images/expertise.png") 0 0 no-repeat;
  background-size: cover;
  &__block {
    max-width: 966px;
    margin-left: auto;
    background: rgba(28, 117, 188, 0.64);
    padding-top: 105px;
    padding-left: 60px;
    padding-bottom: 60px;
  }
  &__title {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #ffffff;
    margin-bottom: 23px;
  }
  &__text {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 41px;

    span {
      display: block;
    }
  }
  &__text--line {
    padding-top: 21px;
    font-weight: normal;
    padding-right: 200px;
    position: relative;

    &::before {
      content: "";
      background-color: #fff;
      width: 75px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__btn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 11px 45px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
}
