.header {
  margin-bottom: 28px;
  padding-top: 30px;
  @include flex;
  justify-content: space-between;
  &__breadcrumb {
    padding-left: 25px;
    border-radius: 4px;
    border-left: 4px solid #56e86d;
    li {
      display: inline-block;
      @include work_font(500);
      font-size: 24px;
      line-height: 28px;
      text-transform: capitalize;
      color: #ffffff;
    }
  }
  &__icons {
    list-style: none;
  }
}

.icons {
  &__item {
    display: inline-block;
    padding: 0 25px;
    border-right: 1px solid #56e86d;
  }
  &__item:last-child {
    border-right: none;
  }
  &__item--notification {
    position: relative;
    &::after {
      content: "";
      background-color: #f68383;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      top: -3px;
      right: 26px;
    }
  }
}
